.popular-packages {
  background-color: $white;
  padding-bottom: 60px;
  .box-lg {
      margin-bottom: 50px;
      max-width: 555px;
      overflow: hidden;
    .box-lg_img {
      float: left;
    }
    .box-lg_content {
      height: 225px;
      max-width: 305px;
      float: right;
      border: 1px solid #CCC;
      border-left: none;

      .box-lg-description{
        padding: 40px 30px 44px;

      }
      .box-sm_social{
        i {
          text-align: center;
          height: 49px;
          padding: 20px;
        }
        .travel-link {
          width: 175px;
        }
      }
    }
  }
  }

