body {
  font-family: 'Open Sans', sans-serif;

}

h2 {
  text-align:center;
}
h3 {
  font-size: 14px;
  padding: 10px 25px;
  text-transform: uppercase;
}
hr {
  margin-top: 35px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #111010;
}
.title-section {
  margin: 100px 0 70px 0;
  overflow: hidden;
}